<div class="card componentStyle">
    <div class="card text-center">
        <div class="card-header">
            Employee Complete Details
        </div>
        <div class="card-body">
            <h5 class="card-title">{{employee.name}}</h5>
            <p class="card-text">First Name : {{employee.firstName}}</p>
            <p class="card-text">Last Name : {{employee.lastName}}</p>
            <p class="card-text">Gender: {{employee.gender}}</p>
            <p class="card-text">Mobile Number : {{employee.mobileNumber}}</p>
            <p class="card-text">Email : {{employee.email}}</p>
            <p class="card-text">Salary : {{employee.salary}}</p>
        </div>
    </div>
</div>