<div class="card componentStyle">

    <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-group">
            <label for="txtUserName">User Name</label>
            <input [(ngModel)]="authModel.userName" name="txtUserName" formControlName="userName" id='txtUserName'
                type="text" class="form-control">
            <div *ngIf="userName.touched && userName.invalid">
                <div class="alert alert-danger" *ngIf="userName.errors.required">
                    Username is mandatory
                </div>
                <div class="alert alert-danger" *ngIf="userName.errors.minlength">
                    Minimum length is 5 chars
                </div>
                <div class="alert alert-danger" *ngIf="userName.errors.containSpace">
                    Username cann't contain spaces
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="txtPassword">Password</label>
            <input [(ngModel)]="authModel.password" name="txtPassword" formControlName="password" id='txtPassword'
                type="password" class="form-control">
            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                Password is mandatory
            </div>
        </div>
        <div style="margin-top: 5px;">
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
</div>